<form action="/createCity" method="post" name="form" class="form-horizontal">
  <fieldset>
    <legend>Inclus&atilde;o/Edi&ccedil;&atilde;o de Cidade</legend>
    <%if (typeof param !== 'undefined'){ %>
    
    	<input type="hidden" name="identificador" value="<%= param._id %>">
    	
    	<label>Sigla Cidade</label>
	    <input type="text" id="nome" name="nome" class="input-xxlarge" placeholder="Nome" size="100" value="<%= param.name %>">
	    <label>Cidade</label>
	    <input type="text" id="descricao" name="descricao" class="input-xxlarge" size="100" value="<%= param.description %>">
	    
    <% } else { %>
    <label>Sigla Cidade</label>
    <input type="text" id="nome" name="nome" class="input-xxlarge" placeholder="Nome" size="100">
    <label>Cidade</label>
    <input type="text" id="descricao" name="descricao" class="input-xxlarge" size="100">
    
    <% } %>
    <br><br>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </fieldset>
</form>
 
 <!-- JQUERY -->
 <!-- Placed at the end of the document so the pages load faster -->
    <!-- JQUERY -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/jquery-1.7.1.min.js"><\/script>')</script>
    <script src="/assets/js/bootstrap-transition.js"></script>
    <script src="/assets/js/bootstrap-alert.js"></script>
    <script src="/assets/js/bootstrap-modal.js"></script>
    <script src="/assets/js/bootstrap-dropdown.js"></script>
    <script src="/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/assets/js/bootstrap-tab.js"></script>
    <script src="/assets/js/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap-popover.js"></script>
    <script src="/assets/js/bootstrap-button.js"></script>
    <script src="/assets/js/bootstrap-collapse.js"></script>
    <script src="/assets/js/bootstrap-carousel.js"></script>
    <script src="/assets/js/bootstrap-typeahead.js"></script>
	<script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/jquery.form.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/jquery.maskedinput.min.js"></script>
        

<script>
	jQuery(function($){
	   $("#cep").mask("99999-999");
	   
		   $('form').validate({
	        rules:{
	            nome:{required: true},
	            descricao:{required: true}
	        },
	
	        messages:{
	            nome:{required: "Preencha o campo Cidade"},
	            descricao:{required: "Preencha o campo descricao"}
	        }
	    });
	   	   	
	});

</script>